<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置CountryMapper配置文件与实体类等的映射-->
<mapper namespace="page.mybatis.demo.mapper.CountryMapper">
    <resultMap type="page.mybatis.demo.entity.Country" id="country">
        <id column="id" property="id"/>
        <result column="country" property="country"/>
        <result column="code" property="code"/>
    </resultMap>
    <select id="selectAll" resultMap="country">
        SELECT id,country,code from country
    </select>
</mapper>